body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

/* Ensure full height layout */
html, body {
  height: 100%;
}

/* Content styling */
.content {
  min-height: 71%;
  padding: 20px;
  padding-bottom: 50px;
}

/* Sidebar menu styling */
.vertical-menu {
  width: 100%; /* Adjusted to take full width of the column */
  border-radius: 0; /* Removed rounded corners for sidebar use */
  margin-top: 20px; /* Added some top margin for spacing */
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #025573;
  color: white;
}

/* Style about copy icon */
.peeper-keyhole, .peeper-copy-pass {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  z-index: 100;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.637);
}


/* Table Styles */
th, td {
  padding: 15px;
  text-align: left;
}

thead, tfoot {
  background-color: #025573;
  color: #fff;
}

tr:nth-child(odd) {
  background: rgba(2, 85, 115, 0.3);
}

tr:nth-child(even) {
  background: #f5f5f5;
}

.dataframe {
  margin: 0 auto;
}

/* Button Styles */
.large-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px; /* Add some space between the table and the button */
  background-color: #5cadb3; /* Button color */
  color: white;
  font-size: 18px; /* Larger font size */
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
