requests==2.21.0
Werkzeug==2.0.0 
#flask.scaffold
Flask==2.0.3
Flask-Login==0.4.1

requests==2.25.1
pyOpenSSL==20.0.1
cryptography== 3.4.7

flask_restx
marshmallow
pymongo
jsonify
mysql-connector-python
pandas
# psycopg2==2.7
flask_swagger_ui