{% extends "base.html" %}
{% block title %} Request to QuantumLeap {% endblock %}

{% block content %}

<h1 style="color:green;text-align:center;">Example of web request to Fiware's QuantumLeap</h1>

<div class="row margin-bottom-10">
    <div class="text-center">
        <h2 style="color:rgb(10, 10, 1);text-align:center;">This request returns the last measurements sent by an example device</h2>
        <button class="btn btn-primary" role="button" data-bs-toggle="button" onclick='window.location.href="/request"'>Request for Jetson Data</button>
        <h2 style="color:rgb(10, 10, 1);text-align:center;">This request returns the plate number from the License Plate detector</h2>
        <button class="btn btn-primary" role="button" data-bs-toggle="button" onclick='window.location.href="/plate"'>Request for Kurento Metadata</button>
    </div>
</div>

{% endblock %}