<div class="footer">
    <div class="footer-content">
        <div class="footer-col">
            <img src="{{ url_for('static', filename='dff_tr_wh.png') }}" alt="DFF Logo">
            <img src="{{ url_for('static', filename='8bells_white.png') }}" alt="8 Bells Logo">
        </div>
        <div class="footer-col">
            <h4 style="color: white;">Menu</h4>
            <a href="{{ url_for('about') }}" style="color: lightgray;">About</a>
            <a href="{{ url_for('contact.submit_contact') }}" style="color: lightgray;">Contact</a>
        </div>
        <div class="footer-col">
            <h4 style="color: white;">Possibilities</h4>
            <a href="{{ url_for('data_ingestion.upload') }}" style="color: lightgray;">Upload Json</a>
            <a href="{{ url_for('view_history.user_history') }}" style="color: lightgray;">History Upload</a>
            <a href="{{ url_for('subscription.view_subscriptions') }}" style="color: lightgray;">Subscribe</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© Copyright 2022 | All rights reserved | EIGHT BELLS LTD</p>
    </div>
</div>
