{% extends "base-login.html" %}
{% block title %} Oauth2 IDM Demo.{% endblock %}

{% block content %}



<head>
  <link rel="stylesheet" href="/static/css/styles.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<style>
  @media(max-width: 800px) {
    .row{
      width: 70%!important;
    }
  .column {
    font-size:auto;
    width: 100%!important;
  }
}
</style>
<body>

  <div class="content">
      <div class="content-inside ">
            
          <h1 style="color:black;text-align: center;margin-top: 2%;"><strong>Welcome to DFF!</strong></h1>  
          
          <div class="row" style="border-radius:20px;display: flex; margin-bottom: 5%; margin: 5%; box-shadow: 1px 5px 20px #888888; margin-top: 2%; margin-left: auto;margin-right: auto;  width:70%;">
          
            <div class="column" style="border-radius: 20px 0px 0px 20px;width: 50%;padding: 20px;">
                  <h2 style="color:black;text-align: center;">Sign up / Log in</h2>
                  <div class="column text-center" >
                      <button class="btn btn-lg" style="width: 80%; margin:5%; background-color: #5cadb3" role="button" data-bs-toggle="button" onclick="location.href='https://cloud-20-nic.8bellsresearch.com:443/sign_up/'">Sign up with Keyrock</button>
                  </div>
                  <div class="column text-center" >
                      <button class="btn btn-lg" style="width: 80%; margin:5%; background-color: #5cadb3;" role="button" data-bs-toggle="button" onclick='window.location.href="/login"'>Log in with Keyrock</button>
                  </div>

                
              </div>
              <div class="column" style="border-radius: 0px 20px 20px 0px;width: 50%;padding: 20px; background-image: url('../static/back.jpg');">
                  <h2 style="color:black;text-align: center; color:white;">What we do!</h2>  
                  <p style="color:white;">
                    <img src="../static/check.png" style="width:18px;height:18px;">  Heterogenous data handling
                  </p>
                  <p style="color:white;">
                    <img src="../static/check.png" style="width:18px;height:18px;">  Flexible storage
                  </p>
                  <p style="color:white;">
                    <img src="../static/check.png" style="width:18px;height:18px;">  Subscription support
                  </p>
                  <p style="color:white;">
                    <img src="../static/check.png" style="width:18px;height:18px;">  Confidentiality
                  </p>
                  <p style="color:white;">
                    <img src="../static/check.png" style="width:18px;height:18px;">  Integrity & availability through OAuth2 workflows
                  </p>
                  <p style="color:white;">
                    <img src="../static/check.png" style="width:18px;height:18px;">  Automatic service restarts & backups
                  </p>
              </div>
          </div>  
      </div>
  </div>

  <footer class="mt-auto">
  {% include "./footer.html" %}    
  </footer>

</body>
{% endblock %}
