{% extends "base.html" %}
{% block title %} Oauth2 IDM Demo. {% endblock %}

{% block content %}

<!--<button onclick='window.location.href="/login"'>Log in with Keyrock Account</button>-->

<h1 style="color:green;text-align:center;">Welcome to DFM!</h1>

<div class="row margin-bottom-10">
    <div class="text-center">
        <button class="btn btn-primary" role="button" data-bs-toggle="button" onclick="location.href='https://10.0.20.226/sign_up/'">Sign up in Keyrock</button>
        <button class="btn btn-primary" role="button" data-bs-toggle="button" onclick='window.location.href="/login"'>Log in with Keyrock account</button>
    </div>
</div>


{% endblock %}
