{% extends "base.html" %}
{% block title %} Main Screen {% endblock %}
{% block content %}

<body>

    <div class="content">
        <div class="content-inside ">
            <div class="row" style="padding:5%">
                <div class="row" style="justify-content: center;">
                    <img src="../static/clapping.png" style="object-fit:cover; height:50px;">
                    <h1>Welcome, {{name}}!</h1>
                </div>
                <p style="text-align: center;">DFF is the No1 Web app for secure Data exchange</p>
            </div>
        </div>
    </div>

</body>


{% endblock %}

