<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" style="object-fit:cover; height:50px;"></a>
    
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="#"><img src="../static/logo.png" style="object-fit:cover; height:50px;"></a> 
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start" style="font-weight: 600; font-size: 18px;">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link">Home</a>
                <a href="#" class="nav-item nav-link">About</a>
                <a href="#" class="nav-item nav-link">Contact</a>
            </div>
        </div>
    </nav>

</nav>
