{% extends "base.html" %}
{% block title %} Results from QuantumLeap {% endblock %}

{% block content %}

<h1 style="color:green;text-align:center;">Results of the example web request to Fiware's Orion proving Kurento's integration</h1>

<p><h2 style="color:green;text-align:center;">The plate number is: {{number}}.</h2></p>
<div class="row margin-bottom-10">
    <div class="text-center">
        <button class="btn btn-primary" role="button" data-bs-toggle="button" onclick='window.location.href="/consumer"'>Make Another Request</button>
    </div>
</div>

{% endblock %}
