{% extends "base.html" %}
{% block title %} Create Subscription {% endblock %}

{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.chk1').change(function () {
                if ($(this).is(":checked")) {
                    $('#btnClick').removeAttr('disabled');
                }
                else {
                    var isChecked = false;
                    $('.chk1').each(function () {
                        if ($(this).is(":checked")) {
                            $('#btnClick').removeAttr('disabled');
                            isChecked = true;
                        }
                    });
                    if (!isChecked) {
                        $('#btnClick').attr('disabled', 'disabled');
                    }
                }
 
 
            })
        });
    </script>
</head>

<body>

    <div class="content">
        <div class="content-inside ">
            <div class="row" style="padding:5%">
                <h3 style="text-align:center;">Subscription Form</h3>
                <form method=post action="#">
                    <div class="text-center">
                        <ul class="list-group list-group-flush">
                            

                                
                                    {%for i in ids%}
                                    <li>
                                        <label for="id1" >{{i}}</label>
                                        <input type = "checkbox" class="chk1" id = "id_{{i}}" name = "id_{{i}}" value = "1">
                                        <label for="url-fr">Url</label> 
                                        <input class="require-if-active" type="url" id="url_{{i}}" name="url_{{i}}" data-require-pair="#id_{{i}}">
                                        </li>
                                    {% endfor %}
                                    
                        </ul>
                        <button type="submit" id="btnClick" class="btn" style="background-color: #5cadb3;" value="submit" disabled="disabled">Submit</button>
                    </div>

                </form>   
            </div>
        </div>
    </div>

</body>
{% endblock %}