{% extends "base.html" %}

{% block title %}User Subscriptions{% endblock %}

<style>
    .large-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px; /* Add some space between the table and the button */
    background-color: #5cadb3; /* Button color */
    color: white;
    font-size: 18px; /* Larger font size */
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
</style>

{% block content %}
<body>
    <div class="content">
        <div class="content-inside">
            <div class="row" style="padding: 5%">
                    <h3 style="text-align: center;">Your Subscriptions</h3>
                    <table class="dataframe">
                        <thead>
                            <tr>
                                <th>Subscription ID</th>
                                <th>Type</th>
                                <th>Endpoint URL</th>
                                <th>Database URL</th>
                                <th>Query</th>
                                <th>Interval</th>
                                <th>Active</th>
                                <th>Created At</th>
                                <th>Updated At</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subscription in subscriptions %}
                            <tr>
                                <td>{{ subscription.subscription_id }}</td>
                                <td>{{ subscription.subscription_type }}</td>
                                <td>{{ subscription.endpoint_url }}</td>
                                <td>{{ subscription.DB_url }}</td>
                                <td>{{ subscription.query }}</td>
                                <td>{{ subscription.interval }}</td>
                                <td>{{ subscription.active }}</td>
                                <td>{{ subscription.created_at }}</td>
                                <td>{{ subscription.updated_at }}</td>
                                <td>
                                    <!-- Forms for Edit and Delete -->
                                    <form action="{{ url_for('subscription.form') }}" method="post">
                                        <input type="hidden" name="subscription_id" value="{{ subscription.subscription_id }}">
                                        <button type="submit">EDIT</button>
                                    </form>
                                    <form action="{{ url_for('subscription.new') }}" method="post">
                                        <input type="hidden" name="subscription_id" value="{{ subscription.subscription_id }}">
                                        <input type="hidden" id="action" name="action" value="delete">
                                        <button type="submit" style="background-color: red; color: white;">DELETE</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    
                
            </div>
        </div>
        <div class="row" style="padding: 1%">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% for num in range(1, total_pages + 1) %}
                    <li class="page-item {% if num == current_page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('subscription.view_subscriptions', page=num) }}">{{ num }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="row" style="padding: 1%">
            <!-- Button to add a new subscription -->
            <form action="{{ url_for('subscription.new') }}" method="get">
                <button type="submit" class="large-button">Add New Subscription</button>
            </form>
        </div>
    </div>
</body>

{% endblock %}
