{% extends "base.html" %}
{% block title %} Main Screen {% endblock %}

{% block content %}

<body>

    <div class="content">
        <div class="content-inside ">
            <div class="row" style="padding:5%">
                <h3 style="text-align:center;">This is your upload history</h3>                 
            </div>
            <div class="row" style="padding:5%">  
                {{data | safe}}               
            </div>
        </div>
    </div>

</body>

{% endblock %}